/* General Styles for Navbar */
.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.navbar-left h3 {
    font-size: 20px;
    color: #333;
    margin: 0;
    margin-left: 50px;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* margin-top: 10px; */
    margin-right: 50px;
    justify-content: center; /* Rata tengah secara horizontal */

}


/* Search box */
.search-box1 input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 0px;
    margin-left: 10px;
    box-sizing: border-box;
}

/* Add cari button */
.cari-btn1 {
    margin-left: 20px;
    background-color: #2f96df;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
